/* 
    TABLE CONTENT
    - IMPORTS
    - GLOBAL
    - HEADER
    - FOOTER
    - MAIN-CONTENT
    - IMG
    - BORDER
    - FEATURES
    - TEAMS
    - CUSTOMERS
    - TABLES
    - FORMS
    - BUTTONS
*/

/* IMPORTS
---------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

/* GLOBAL
---------------------------------------------------------------------- */
* {
    font-family: 'Poppins', sans-serif;
    color: #2d3436;
}
body {
    margin: 0;
}

/* HEADER
---------------------------------------------------------------------- */
header {
    margin: 20px 50px 0;
}
header .logo {
    margin-bottom: 20px;
}
header .logo h1 {
    margin: 0;
    color: #e84393;
}
header .logo p {
    margin: 0;
}
header .navbar {
    background-color: #dfe6e9;
    border-radius: 10px;
}
header .navbar a {
    display: inline-block;
    padding: 20px 30px;
    text-decoration: none;
    color: #2d3436;
    border-radius: 10px;
}
header .navbar a:hover {
    background-color: #e84393;
    color: #fff;
}
header .navbar a.active {
    background-color: #e84393;
    color: #fff;
}

/* FOOTER
---------------------------------------------------------------------- */
footer {
    background-color: #2d3436;
    color: #fff;
    padding: 70px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* MAIN-CONTENT
---------------------------------------------------------------------- */
.main-content {
    margin: 30px 50px 50px;
}
.main-content section {
    margin-bottom: 50px;
}
.main-content section:last-child {
    margin-bottom: 0;
}

/* IMG
---------------------------------------------------------------------- */
.img-responsive {
    height: auto;
    max-width: 100%;
}

/* BORDER
---------------------------------------------------------------------- */
.rounded {
    border-radius: 10px;
}

/* FEATURES
---------------------------------------------------------------------- */
.features {
    display: flex;
}
.features div {
    margin: 0 20px;
    padding: 0 20px;
    background-color: #dfe6e9;
    border-radius: 10px;
}
.features div:first-child {
    margin-left: 0;
}
.features div:last-child {
    margin-right: 0;
}
.features div h2 {
    color: #e84393;
}

/* TEAMS
---------------------------------------------------------------------- */
.teams {
    display: flex;
}
.teams .team-item {
    margin: 0 20px;
    padding: 30px 20px;
    background-color: #dfe6e9;
    border-radius: 10px;
    width: 25%;
    text-align: center;
}
.teams .team-item:first-child {
    margin-left: 0;
}
.teams .team-item:last-child {
    margin-right: 0;
}
.teams .team-item img {
    border-radius: 50%;
}
.teams .team-item .team-item-detail .name {
    color: #e84393;
    font-weight: bold;
    font-size: 22px;
    display: block;
}
.teams .team-item .team-item-detail .designation {
    font-size: 16px;
    display: block;
    font-style: italic;
}
.teams .team-item .team-item-detail p {
    margin: 0;
    margin-top: 10px;
}

/* CUSTOMERS
---------------------------------------------------------------------- */
.customers {
    display: flex;
    justify-content: space-between;
}

/* TABLES
---------------------------------------------------------------------- */
.table {
    width: 100%;
    border-collapse: collapse;
}
.table tr th {
    color: #e84393;
}
.table tr th,
.table tr td {
    border: 1px solid #b2bec3;
    padding: 5px 10px;
}
.table tr:nth-child(even) td {
    background-color: #eee;
}

/* FORMS
---------------------------------------------------------------------- */
.form-group {
    margin-bottom: 20px;
}
.form-group label {
    color: #636e72;
    font-size: 14px;
}
.form-group .form-control {
    display: block;
    width: 100%;
    padding: 15px;
    margin-top: 5px;
    background-color: #dfe6e9;
    border: 1px solid #dfe6e9;
    border-radius: 10px;
}
.form-group .form-checkbox-group .form-checkbox-control {
    display: inline-block;
    border: 1px solid #b2bec3;
    padding: 10px;
    border-radius: 10px;
    min-width: 100px;
}

/* BUTTONS
---------------------------------------------------------------------- */
.btn {
    padding: 15px;
    min-width: 150px;
    border: none;
    border-radius: 10px;
}
.btn.btn-primary {
    background-color: #e84393;
    color: #fff;
}
.btn.btn.btn-primary:hover,
.btn.btn.btn-primary:active,
.btn.btn.btn-primary:focus {
    background-color: #fd79a8;
}
.btn.btn-secondary {
    background-color: #dfe6e9;
}
.btn.btn.btn-secondary:hover,
.btn.btn.btn-secondary:active,
.btn.btn.btn-secondary:focus {
    background-color: #b2bec3;
}